Backend/obj/Order_MS.csproj.nuget.dgspec.json
Backend/obj/Order_MS.csproj.nuget.g.props
Backend/obj/Order_MS.csproj.nuget.g.targets
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
Backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Backend/obj/Debug/net8.0/Order_MS.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Order_MS.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Order_MS.assets.cache
Backend/obj/Debug/net8.0/Order_MS.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Order_MS.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/Debug/net8.0/Order_MS.GlobalUsings.g.cs
