Backend/obj/Order_MS.csproj.nuget.dgspec.json
Backend/obj/Order_MS.csproj.nuget.g.props
Backend/obj/Order_MS.csproj.nuget.g.targets
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
Backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Backend/obj/Debug/net8.0/Order_MS.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Order_MS.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Order_MS.assets.cache
Backend/obj/Debug/net8.0/Order_MS.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Order_MS.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/Debug/net8.0/Order_MS.GlobalUsings.g.cs
Backend/bin/Debug/net8.0/appsettings.Development.json
Backend/bin/Debug/net8.0/AutoMapper.dll
Backend/bin/Debug/net8.0/Azure.Core.dll
Backend/bin/Debug/net8.0/Azure.Identity.dll
Backend/bin/Debug/net8.0/BCrypt.Net-Next.dll
Backend/bin/Debug/net8.0/Humanizer.dll
Backend/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Backend/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
Backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
Backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
Backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
Backend/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
Backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
Backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Backend/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
Backend/bin/Debug/net8.0/Microsoft.Identity.Client.dll
Backend/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Backend/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
Backend/bin/Debug/net8.0/Microsoft.OpenApi.dll
Backend/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
Backend/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Backend/bin/Debug/net8.0/Mono.TextTemplating.dll
Backend/bin/Debug/net8.0/Order_MS.deps.json
Backend/bin/Debug/net8.0/Order_MS.dll
Backend/bin/Debug/net8.0/Order_MS.exe
Backend/bin/Debug/net8.0/Order_MS.pdb
Backend/bin/Debug/net8.0/Order_MS.runtimeconfig.json
Backend/bin/Debug/net8.0/Order_MS.staticwebassets.endpoints.json
Backend/bin/Debug/net8.0/package-lock.json
Backend/bin/Debug/net8.0/package.json
Backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Backend/bin/Debug/net8.0/System.CodeDom.dll
Backend/bin/Debug/net8.0/System.Composition.AttributedModel.dll
Backend/bin/Debug/net8.0/System.Composition.Convention.dll
Backend/bin/Debug/net8.0/System.Composition.Hosting.dll
Backend/bin/Debug/net8.0/System.Composition.Runtime.dll
Backend/bin/Debug/net8.0/System.Composition.TypedParts.dll
Backend/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Backend/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
Backend/bin/Debug/net8.0/System.Drawing.Common.dll
Backend/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
Backend/bin/Debug/net8.0/System.Memory.Data.dll
Backend/bin/Debug/net8.0/System.Runtime.Caching.dll
Backend/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Backend/bin/Debug/net8.0/System.Security.Permissions.dll
Backend/bin/Debug/net8.0/System.Windows.Extensions.dll
Backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
Backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Backend/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Backend/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Backend/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Backend/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Backend/obj/Debug/net8.0/apphost.exe
Backend/obj/Debug/net8.0/Order_MS.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net8.0/Order_MS.csproj.FileListAbsolute.txt
Backend/obj/Debug/net8.0/Order_MS.csproj.Up2Date
Backend/obj/Debug/net8.0/Order_MS.dll
Backend/obj/Debug/net8.0/Order_MS.genruntimeconfig.cache
Backend/obj/Debug/net8.0/Order_MS.MvcApplicationPartsAssemblyInfo.cache
Backend/obj/Debug/net8.0/Order_MS.MvcApplicationPartsAssemblyInfo.cs
Backend/obj/Debug/net8.0/Order_MS.pdb
Backend/obj/Debug/net8.0/Order_MS.sourcelink.json
Backend/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
Backend/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
Backend/obj/Debug/net8.0/rpswa.dswa.cache.json
Backend/obj/Debug/net8.0/staticwebassets.build.endpoints.json
Backend/obj/Debug/net8.0/staticwebassets.build.json
Backend/obj/Debug/net8.0/staticwebassets.build.json.cache
Backend/obj/Debug/net8.0/swae.build.ex.cache
Backend/obj/Debug/net8.0/ref/Order_MS.dll
Backend/obj/Debug/net8.0/refint/Order_MS.dll
